Repository eduardolopsl/alebat-chalenges: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, stylelint --fix

feat(config): added items
  index.html
  public/data/items.json
  src/App.vue
  src/components/ItemCard.vue
  src/router/index.ts
  src/services/itemsApiServices.ts
  src/views/HomeView.vue
  src/views/[title].vue
  vue.d.ts
Due: eslint --fix, stylelint --fix

style(styles): configured reset and variables to correct ones
  src/assets/styles/scss/_variables.scss
  src/assets/styles/scss/reset.scss
Due: stylelint --fix

chore(config): updated eslintrc and stylelintrc configuration to better one, deleted unused file
  .eslintrc.cjs
  .stylelintrc.json
  vue.d.ts
Due: eslint --fix

feat(views): implemented detail item view
  src/views/ItemView.vue
Due: eslint --fix, stylelint --fix

feat(views): implemented home view
  src/views/HomeView.vue
Due: eslint --fix, stylelint --fix

chore(assets): added very necessary images
  public/img/borja.webp
  public/img/puch.webp
  public/img/rodri.webp
Due: none

chore(dependencies): deleted unused dependencies and included necessary ones
  package-lock.json
  package.json
Due: none

chore(assets): changed favicon
  public/favicon.ico
Due: none

chore(components): changed file to another folder
  src/components/ItemCard.vue
Due: eslint --fix, stylelint --fix

chore(stores): deleted unnecessary files
  src/stores/counter.ts
Due: eslint --fix

chore(views): deleted unnecessary files
  src/views/[title].vue
Due: eslint --fix, stylelint --fix

feat(components): implemented item card component for home view
  src/components/svg/BackArrow.vue
Due: eslint --fix, stylelint --fix

feat(components): implemented item list component for home view
  src/components/home/ItemList.vue
Due: eslint --fix, stylelint --fix

feat(components): implemented item card component for home view
  src/components/home/ItemCard.vue
Due: eslint --fix, stylelint --fix

feat(components): implemented go back button component for detail item view
  src/components/item-detail/GoBackBtn.vue
Due: eslint --fix, stylelint --fix

feat(components): implemented redirection image component for home view
  src/components/home/RedirectionImg.vue
Due: eslint --fix, stylelint --fix

chore(config): changed router configuration, adding new routes and deleted unnecessary code from app
  src/App.vue
  src/main.ts
Due: eslint --fix, stylelint --fix

chore(config): changed vite config for including necessary scss files in project
  vite.config.ts
Due: eslint --fix

chore(config): changed router configuration, adding new routes and deleted unnecessary code from app
  src/router/index.ts
Due: eslint --fix

chore(mock): added items json file for retrieving data
  public/data/items.json
Due: none

config challenge 2
  .eslintrc.cjs
  .gitignore
  .prettierrc
  README copy.md
  assets/check_circle.svg
  assets/error.svg
  assets/index.ts
  assets/info.svg
  assets/warning.svg
  index.html
  package.json
  pnpm-lock.yaml
  src/style.css
  src/vite-env.d.ts
  tsconfig.json
Due: eslint --fix

feat: configured and mostly ended second challenge
  package-lock.json
  src/constants/buttonsData.ts
  src/main.ts
  src/style.css
  src/types/buttons.ts
  tsconfig.json
Due: eslint --fix

Path conditions:
  eslint --fix: any of: **/*.{ts,js,vue}
  stylelint --fix: any of: src/**/*.{vue,scss}
